{% extends 'base.html.twig' %}

{% block title %}
    Mon profil
{% endblock %}


{% block body %}
       <h1> {{ app.user.username }} </h1>
    <br>
    <div> Prénom:  {{ app.user.prenom }}</div>
    <br>
    <div>Nom: {{ app.user.nom }} </div>
    <br>
    <div>Téléphone: {{ app.user.telephone }} </div>
    <br>
    <div>Email: {{ app.user.mail }}</div>
    <br>
    <div> Ma photo:
        <img src="{{ asset('/img/img-users/'~app.user.urlPhoto)}}" alt="Photo de profil de {{ app.user.username }}">
    </div>
    <br>
    <a href="{{ path('profile_update') }}"><input type="button" value="Modifier"></a>
    <a href="{{ path('home_index') }}"><input type="button" value="Retour"></a>

{% endblock %}


