{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier mon profil{% endblock %}

{% block body %}
    <div class="form-update-profile">
        <div class="border_bottom">
            <h1 class="profileH1">Modifier mon profil</h1>
        </div>
        <div class="groupe-update-profile">
            {{ form_start(participantForm) }}
            <div class="partie-gauche" style="grid-area: a">
                <div class="groupe">{{ form_row(participantForm.nom, { 'attr': { 'class': 'groupe inputProfile' }}) }}</div>
                <div class="groupe">{{ form_row(participantForm.prenom, { 'attr': { 'class': 'groupe inputProfile' }}) }}</div>
                <div class="groupe">{{ form_row(participantForm.telephone, { 'attr': { 'class': 'groupe inputProfile' }}) }}</div>
                <div class="groupe">{{ form_row(participantForm.mail, { 'attr': { 'class': 'groupe inputProfile' }}) }}</div>
                <div class="groupe">{{ form_row(participantForm.username, { 'attr': { 'class': 'groupe inputProfile' }}) }}</div>
            </div>
            <div class="partie-droite" style="grid-area: b">
                <div class="groupe">
                    {{ form_row(participantForm.password) }}
                    {{ form_row(participantForm.site, { 'attr': { 'class': 'groupe inputProfile' }}) }}
                    {{ form_row(participantForm.imageFile, { 'attr': { 'class': 'groupe inputProfile' }}) }}
                </div>
            </div>
            {{ form_widget(participantForm) }}
            <div class="pied-form-update-profile">
                <input type="submit" value="Enregistrer" class="btn-enregitrer">
                <a href="{{ path('profile_myprofile') }}"><input type="button" value="Annuler" class="btn-annuler"></a>
            </div>
            {{ form_end(participantForm) }}
        </div>
    </div>

{% endblock %}