{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    {% set today = "now" %}
    <div>Date du jour : {{ today | date("d/m/y") }}</div>
    <div>Participant : {{ app.user.prenom }} {{ app.user.nom }}</div>
    <h1>Filtrer les sorties</h1>

    {{ form_start(filtreHomeForm) }}
    {{ form_widget(filtreHomeForm) }}
    {% if tabErr["contenuNom"] is not empty %}
        <div><strong>
            {{ tabErr["contenuNom"] }}
        </strong></div>
    {% endif %}
    <div>
        <label for="filtreNom">Le nom de la sortie contient :</label>
        <input type = "search" name="filtreNom" id="filtreNom"
               value="{{ filtreNom!='' ? filtreNom : '' }}" placeholder="search" size="30">
    </div>
    {% if tabErr["datesMinMax"] is not empty %}
        <div><strong>
           {{ tabErr["datesMinMax"] }}
        </strong></div>
    {% endif %}
    <div>
        <label for="filtreDateMin">Entre</label>
        <input type="date" name="filtreDateMin" id="filtreDateMin"
               value="{{ filtreDateMin!='' ? filtreDateMin : '' }}">
        <label for="filtreDateMax"> et </label>
        <input type="date" name="filtreDateMax" id="filtreDateMax"
               value="{{ filtreDateMax!='' ? filtreDateMax : '' }}">
    </div>
    <div>
        {% if cocheOrganisateur %}
            <input type="checkbox" name="cocheOrganisateur" id="cocheOrganisateur" checked>
        {% else %}
            <input type="checkbox" name="cocheOrganisateur" id="cocheOrganisateur">
        {% endif %}
        <label for="cocheOrganisateur">Sorties dont je suis l'organisateur(trice)</label>
    </div>
    <div>
        {% if cocheInscrit %}
            <input type="checkbox" name="cocheInscrit" id="cocheInscrit" checked>
        {% else %}
            <input type="checkbox" name="cocheInscrit" id="cocheInscrit" >
        {% endif %}
        <label for="cocheInscrit">Sorties auxquelles je suis inscrit(e)</label>
    </div>
    <div>
        {% if cocheNonInscrit %}
            <input type="checkbox" name="cocheNonInscrit" id="cocheNonInscrit" checked>
        {% else %}
            <input type="checkbox" name="cocheNonInscrit" id="cocheNonInscrit">
        {% endif %}
        <label for="cocheNonInscrit">Sorties auxquelles je ne suis pas inscrit(e)</label>
    </div>
    <div>
        {% if cochePassees %}
            <input type="checkbox" name="cochePassees" id="cochePassees" checked>
        {% else %}
            <input type="checkbox" name="cochePassees" id="cochePassees">
        {% endif %}
        <label for="cochePassees">Sorties passées</label>
    </div>
    <button>Rechercher</button>
    {{ form_end(filtreHomeForm) }}

    {% if sorties is not empty  %}
        <h2>Résultats</h2>
        <article>
            <div>Nom de la sortie</div>
            <div>Date de la sortie</div>
            <div>Clôture</div>
            <div>Inscrits/Places</div>
            <div>Etat</div>
            <div>Inscrit</div>
            <div>Organisateur</div>
            <div>Actions</div>
        </article>
        <hr>
        {% for sortie in sorties %}
            {% set isInscrit = false %}
            <article>
                <div><strong>{{ sortie.nom }}</strong></div>
                <div>{{ sortie.dateHeureDeb | date('d/m/Y H:i') }}</div>
                <div>{{ sortie.dateCloture | date('d/m/Y') }}</div>
                <div>{{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }}</div>
                <div>{{ sortie.etat.libelle }}</div>
                {% for participant in sortie.participants %}
                    {% if participant == app.user %}
                        <div>{% set isInscrit = true %}</div>
                    {% endif %}
                {% endfor %}
                <div>{{ isInscrit ? 'X' : '-' }}</div>
{#                <div><a href="{{ path('profile_show', {'id': sortie.organisateur.id}) }} "> #}
                <div><a href="#">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></div>
                <div>
                    {% if sortie.etat.libelle == 'En création' %}
                    {#  <a href="{{ path('activity_update', {'id': sortie.id}) }}"> #}
                        <a href="#">Modifier</a> -
                    {#  <a href="{{ path('activity_publish', {'id': sortie.id}) }}"> #}
                        <a href="#">Publier</a>
                    {% else %}
                        <a href="#">Afficher</a>
                        {% if sortie.etat.libelle == 'Ouvert' %}
                            {% if isInscrit %}
                                {# <a href="{{ path('activity_unsubscribe', {'id': sortie.id}) }}"> #}
                                - <a href="#">Se désister</a>
                            {% else %}
                                {# <a href="{{ path('activity_subscribe', {'id': sortie.id}) }}"> #}
                                - <a href="#">S'inscrire</a>
                            {% endif %}
                        {% elseif sortie.etat.libelle == 'Clôturé' %}
                        {% if isInscrit %}
                            {# <a href="{{ path('activity_unsubscribe', {'id': sortie.id}) }}"> #}
                            - <a href="#">Se désister</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </article>
            <hr>
        {% endfor %}
    {% else %}
        <h2>Aucune sortie ne correspond à vos critères.</h2>
    {% endif %}
    <button>
        {#  <a href="{{ path('activity_create' }}"> #}
        <a href="#">Créer une sortie</a>
    </button>

{% endblock %}
