{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    {% set today = "now" %}
    <div>Date du jour : {{ today | date("d/m/y") }}</div>
    <div>Participant : {{ app.user.prenom }} {{ app.user.nom }}</div>
    <h1>Filtrer les sorties</h1>

    {{ form }}

{#    <form action="" method="post">#}
{#        <div>#}
{#            <label for="site">Site :</label>#}
{#            <select name="site" id="site">#}
{#                {% for site in sites %}#}
{#                    {% if site == app.user.site %}#}
{#                        <option value="{{ site.id }}" selected>{{ site.nom }} ( {{ site.id }} )</option>#}
{#                    {% else %}#}
{#                        <option value="{{ site.id }}">{{ site.nom }} ( {{ site.id }} )</option>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#             </select>#}
{#        </div>#}
{#        <div>#}
{#            <label for="filtreNom">Le nom de la sortie contient :</label>#}
{#            <input type = "search" name="filtreNom" id="filtreNom" placeholder="search" size="20">#}
{#        </div>#}
{#        <div>#}
{#            <label for="filtreDateMin">Entre</label>#}
{#            <input type="date" name="filtreDateMin" id="filtreDateMin">#}
{#            <label for="filtreDateMax"> et </label>#}
{#            <input type="date" name="filtreDateMax" id="filtreDateMax">#}
{#        </div>#}
{#        <div>#}
{#            <input type="checkbox" name="cocheOrganisateur" id="cocheOrganisateur">#}
{#            <label for="cocheOrganisateur">Sorties dont je suis l'organisateur(trice)</label>#}
{#        </div>#}
{#        <div>#}
{#            <input type="checkbox" name="cocheInscrit" id="cocheInscrit">#}
{#            <label for="cocheInscrit">Sorties auxquelles je suis inscrit(e)</label>#}
{#        </div>#}
{#        <div>#}
{#            <input type="checkbox" name="cocheNonInscrit" id="cocheNonInscrit">#}
{#            <label for="cocheNonInscrit">Sorties auxquelles je ne suis pas inscrit(e)</label>#}
{#        </div>#}
{#        <div>#}
{#            <input type="checkbox" name="cochePassees" id="cochePasses">#}
{#            <label for="cochePassees">Sorties passées</label>#}
{#        </div>#}
{#        <input type="submit" value="Rechercher">#}

{#    </form>#}

    {% if sorties is not empty  %}
        <h2>Résultats</h2>
        <article>
            <div>Nom de la sortie</div>
            <div>Date de la sortie</div>
            <div>Clôture</div>
            <div>Inscrits/Places</div>
            <div>Etat</div>
            <div>Inscrit</div>
            <div>Organisateur</div>
            <div>Actions</div>
        </article>
        {% for sortie in sorties %}
            {% set isInscrit = false %}
            <article>
                <div><strong>{{ sortie.nom }}</strong></div>
                <div>{{ sortie.dateHeureDeb | date('d/m/Y H:i') }}</div>
                <div>{{ sortie.dateCloture | date('d/m/Y') }}</div>
                <div>{{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }}</div>
                <div>{{ sortie.etat.libelle }}</div>
                {% for participant in sortie.participants %}
                    {% if participant == app.user %}
                        <div>{% set isInscrit = true %}</div>
                    {% endif %}
                {% endfor %}
                <div>{{ isInscrit ? 'X' : '-' }}</div>
                <div>{# <a href="{{ path('profile_show') }} "> #}
                      <a href="#">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></div>
                <div>
                    {% if sortie.etat.libelle == 'En création' %}
                    {#  <a href="{{ path('activity_update') }}">#}
                        <a href="#">Modifier</a> -
                        <a href="#">Publier</a>
                    {% else %}
                        <a href="#">Afficher</a>
                        {% if sortie.etat.libelle == 'Ouvert' %}
                            {% if isInscrit %}
                                - <a href="#">Se désister</a>
                            {% else %}
                                - <a href="#">S'inscrire</a>
                            {% endif %}
                        {% elseif sortie.etat.libelle == 'Clôturé' %}
                            {% if isInscrit %}
                            - <a href="#">Se désister</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    {% else %}
        <h2>Aucune sortie ne correspond à vos critères.</h2>
    {% endif %}


{% endblock %}
