{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Réinitialisation{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="display-myprofile-container">
        <div class="border_bottom">
            <h1 class="profileH1">Réinitialiser votre mot de passe</h1>
        </div>
        {{ form_start(requestForm, { 'attr': { 'class': 'corps-formulaire', 'style': 'justify-items: center;text-align: center' }}) }}
        <div>
            {{ form_row(requestForm.mail, { 'attr': { 'class': 'groupe inputProfile' }}) }}
        </div>
        <div>
            <small>Entrez votre adresse mail et nous vous enverrons <br>un lien pour réinitialiser votre mot de passe.</small>
        </div>
        <div class="pied">
            <button class="btn btn-primary">Envoyer le mail</button>
        </div>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
