{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Supprimer{% endblock %}

{% block body %}
    <div class="cadre-sortie">
        <div class="border_bottom">
            <h1>Annuler une Sortie</h1>
        </div>
            {{ form_start(sortieForm, { 'attr': { 'class': 'sortie-delete' }}) }}
            {{ form_row(sortieForm._token) }}
            <div>
                <p class="labelBold">Nom de la sortie</p>
                <p class="inputDelete">{{ findMySortie.nom }}</p>
            </div>
            <div>
                <p class="labelBold">Date de la sortie</p>
                <p class="inputDelete">{{ findMySortie.dateHeureDeb | date('d/m/Y') }}</p>
            </div>
            <div>
                <p class="labelBold">Ville organisatrice</p>
                <p class="inputDelete">{{ findMySortie.site.nom }}</p>
            </div>
            <div>
                <p class="labelBold">Lieu</p>
                <p class="inputDelete">{{ findMySortie.lieu.nom }} {{ findMySortie.lieu.rue }} {{ findMySortie.lieu.ville.codePostal }} {{ findMySortie.lieu.ville.nom }}</p>
            </div>
            {{ form_row(sortieForm.infosSortie, { 'label': 'Motif', 'attr': { 'class': ''} }) }}
            <div class="pied">
                {{ form_row(sortieForm.annuleSortie, { 'attr': { 'class': 'button'}}) }}

                <a href="{{ path('home_index') }}"><input class="button" type="button" value="Annuler"></a>
            </div>
            {{ form_end(sortieForm, {'render_rest': false}) }}
    </div>
{% endblock %}


