{% extends 'base.html.twig' %}

{% block title %}
    Infos
{% endblock %}

{% block body %}

    <div class="cadre-sortie">
        <h1>{{ sortie.nom }}</h1>
        <div class="separation"></div>
        <div class="grid-sortie">
            <div>
                <div class="groupe">
                    <div class="label">Prévue le :</div>
                    <div class="input">{{ sortie.dateHeureDeb | date('d/m/Y H:i') }}</div>
                </div>
                <div class="groupe">
                    <div class="label">Date limite d'inscription :</div>
                    <div class="input">{{ sortie.dateCloture | date('d/m/Y') }}</div>
                </div>
                <div class="groupe">
                    <div class="label">Nombre de places :</div>
                    <div class="input">{{ sortie.nbInscriptionsMax }}</div>
                </div>
                <div class="groupe">
                    <div class="label">Durée :</div>
                    <div class="input"> {{ sortie.duree }} minutes</div>
                </div>
                <div class="groupe">
                    <div class="label">Description :</div>
                    <div class="input"> {{ sortie.infosSortie }}</div>
                </div>
            </div>
            <div>
                <div class="groupe">
                    <div class="label">Ville organisatrice :</div>
                    <div class="input"> {{ sortie.site }}</div>
                </div>
                <div class="groupe">
                    <div class="label">Lieu :</div>
                    <div class="input">{{ sortie.lieu.nom }}</div>
                </div>
                <div class="groupe">
                    <div class="label">Rue :</div>
                    <div class="input">{{ sortie.lieu.rue }}</div>
                </div>
                <div class="groupe">
                    <div class="label">Code postal :</div>
                    <div class="input">{{ sortie.lieu.ville.codePostal }}</div>
                </div>
                <div class="groupe">
                    <div class="label">Ville :</div>
                    <div class="input">{{ sortie.lieu.ville.nom }}</div>
                </div>
                <div class="groupe">
                    <div class="label">Latitude :</div>
                    <div class="input">{{ sortie.lieu.latitude ? sortie.lieu.latitude : '(non renseigné)' }}</div>
                </div>
                <div class="groupe">
                    <div class="label">Longitude :</div>
                    <div class="input">{{ sortie.lieu.longitude ? sortie.lieu.longitude : '(non renseigné)' }}</div>
                </div>
            </div>
            <div class="case-participants">
                <div class="liste-participants">
                    <h3>Liste des participants</h3>
                    <article class="grid-lst-participants">
                        <div class="element bold">
                            <div>Pseudo</div>
                            <div>Nom</div>
                        </div>
                        {% for participant in sortie.participants %}
                            <div class="element">
                                <div><a href="{{ path('profile_show', {'id': participant.id}) }} ">{{ participant.username }}</a></div>
                                <div><a href="{{ path('profile_show', {'id': participant.id}) }} ">{{ participant.prenom }} {{ participant.nom }}</a></div>
                            </div>
                        {% endfor %}
                    </article>
                </div>
            </div>
        </div>
        <div class="pied">
            <a href="{{ path('home_index') }}"><input class="button" type="button" value="Retour"></a>
        </div>
    </div>
{% endblock %}
