{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Sortie{% endblock %}

{% block body %}
    <div class="form-update-sortie">
        <div class="border_bottom">
            <h1 class="sortieH1">{{ app.request.attributes.get('_route') == 'sortie_update' ? 'Modification sortie' : 'Nouvelle sortie' }}</h1>
        </div>
        {{ form_start(sortieForm, { 'attr': { 'class': 'sortie-update' }}) }}
        <div class="groupe-update-sortie">
            <div class="form-row">
                {{ form_row(sortieForm._token) }}
                {{ form_row(sortieForm.nom) }}
                {{ form_row(sortieForm.dateHeureDeb) }}
                {{ form_row(sortieForm.infosSortie) }}
            </div>
            <div class="form-row">
                {{ form_row(sortieForm.duree) }}
                {{ form_row(sortieForm.dateCloture) }}
                {{ form_row(sortieForm.nbInscriptionsMax) }}
                {{ form_row(sortieForm.site) }}
                {{ form_row(lieuForm.nom) }}
            </div>
            <div class="form-row">
                {{ form_row(villeForm.nom) }}
                {{ form_row(lieuForm.rue) }}
                {{ form_row(villeForm.codePostal) }}
                {{ form_row(lieuForm.latitude) }}
                {{ form_row(lieuForm.longitude) }}
            </div>
        </div>
        <div class="pied">
            {{ form_row(sortieForm.saveSortie) }}
            {{ form_row(sortieForm.publishSortie) }}
            {% if app.request.attributes.get('_route') == 'sortie_update' %}
                {{ form_row(sortieForm.removeSortie) }}
            {% endif %}
            <a href="{{ path('home_index') }}"><input type="button" value="Retour" class="button"></a>
        </div>
    </div>
    {{ form_end(sortieForm, {'render_rest': false}) }}
{% endblock %}
