{% extends 'base.html.twig' %}

{% block title %}
    Détail
{% endblock %}

{% block body %}

    <h1>Afficher une sortie</h1>
    <br>
    <div>Nom de la sortie: {{ sortie.nom }}</div>
    <br>
    <div>Date et heure de la sortie: {{ sortie.dateHeureDeb | date('d/m/Y H:i') }}</div>
    <br>
    <div>Date limite d'inscription : {{ sortie.dateCloture | date('d/m/Y') }}</div>
    <br>
    <div>Nombre de places: {{ sortie.nbInscriptionsMax }}</div>
    <br>
    <div>Durée: {{ sortie.duree }} minutes</div>
    <br>
    <div>Description et infos: {{ sortie.infosSortie }}</div>
    <br>
    <div>Ville organisatrice: {{ sortie.site }}</div>
    <br>
    <div>Lieu: {{ sortie.lieu.nom }}</div>
    <br>
    <div>Rue: {{ sortie.lieu.rue }}</div>
    <br>
    <div>Code postal: {{ sortie.lieu.ville.codePostal }}</div>
    <br>
    <div>Latitude: {{ sortie.lieu.latitude }}</div>
    <br>
    <div>Longitude: {{ sortie.lieu.longitude }}</div>
    <br>
    <article>
        Liste des participants inscrits:
        <div>Pseudo</div>
        <div>Nom</div>
        <div>
            <br>
            {% for participant in sortie.participants %}
                <div>{{ participant.username }}</div>
                <div>{{ participant.nom}}</div>
                <div>{{ participant.prenom }}</div>
            {% endfor %}
        </div>
    </article>
{% endblock %}
